{% extends "base.html" %}
{% block content %}
    <header>
        <h2 class="entry-title">{{ article.title }}</h2>
    
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
    </header>
    
    <footer class="post-info">
      <abbr class="published" title="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </abbr>

    </footer><!-- /.post-info -->
    
    <section class="entry-content">
      {{ article.content }}
    </section><!-- /.entry-content -->

{% endblock %}